body {
            font-family: Arial, sans-serif;
            background: #f2f4f8;
            padding: 20px;
            text-align: center;
        }

        .box {
            background: white;
            padding: 20px;
            margin: 20px auto;
            width: 80%;
            border-radius: 10px;
        }

        img {
            margin-top: 10px;
            border-radius: 8px;
        }

        .bg-image {
            width: 100%;
            height: 200px;
            background-image: url("https://th.bing.com/th/id/OIP.tSdiskxvxMBNPaHpGqvgWAHaEz?w=230&h=180&c=7&r=0&o=7&pid=1.7&rm=3");
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            margin-top: 15px;
        }